.btn {
  display: inline-block;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: #ffffff;
  //@include button-size($padding-base-vertical, $padding-base-horizontal)
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  cursor: pointer;
  outline: none;
  text-align: center;
  white-space: nowrap;
}

// btn size

.btn-large {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
.btn-small {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

// colors

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border)
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
}
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border)
}
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border)
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border)
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border)
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}