.btn {
  display: inline-block;
  box-sizing: border-box;
  border: rem(1) solid transparent;
  background: #ffffff;
  //@include button-size($padding-base-vertical, $padding-base-horizontal)
  @include button-size;
  cursor: pointer;
  outline: none;
  text-align: center;
  white-space: nowrap;
}

// btn size

.btn-large {
  @include button-size;
}
.btn-small {
  @include button-size;
}
.btn-xs {
  @include button-size;
}

// colors

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border)
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
}
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border)
}
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border)
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border)
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border)
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}